<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Angular Demo 06</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<script src="bower_components/angular/angular.js"></script>
</head>

<body ng-app="Lab">

    <div class="container">
        <h1>Tasks</h1>
        <ul ng-controller="TaskListCtrl as listctrl">
            <li ng-repeat="task in listctrl.tasks">{{ task.name }} <a ng-click="listctrl.editTask(task)">edit</a>

            <a ng-click="listctrl.deleteTask(task)">delete</a></li>
        </ul>

        <form role="form" name="updateTaskForm" ng-controller="TaskFormCtrl as formctrl" ng-submit="formctrl.updateTask(formctrl.task)" novalidate>
            <div class="form-group">
                <label>Task Name</label>
                <input type="text" class="form-control" name="name" ng-model="formctrl.task.name" ng-model-options="{ updateOn: submit }">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TaskListCtrl.js"></script>
    <script src="js/controllers/TaskFormCtrl.js"></script>
    <script src="js/factories/TaskFactory.js"></script>

</body>
</html>