<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Angular Demo 06</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<script src="bower_components/angular/angular.js"></script>
</head>

<body ng-app="Lab">

    <div class="container" ng-controller="TaskCtrl as todo">
        <h1>Tasks</h1>
        <ul>
            <li ng-repeat="task in todo.tasks">{{ task.name }} <a ng-click="todo.editTask(task)">edit</a>

            <a ng-click="todo.deleteTask(task)">delete</a></li>
        </ul>

        <form role="form" name="updateTaskForm" ng-submit="todo.updateTask(todo.task)" novalidate>
            <div class="form-group">
                <label>Task Name</label>
                <input type="text" class="form-control" name="name" ng-model="todo.task.name" ng-model-options="{ updateOn: submit }">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TaskCtrl.js"></script>
    <script src="js/factories/TaskFactory.js"></script>

</body>
</html>